<h1>User List2</h1>
<div class="p-10">
  <div class="grid grid-cols-2 gap-12 md:grid-cols-4   ">
    <app-user image="https://picsum.photos/600/600?random=1" name="User 1" lastname="Title 1"></app-user>
    <app-user image="https://picsum.photos/600/600?random=2" name="User 1" lastname="Title 1"></app-user>
    <app-user image="https://picsum.photos/600/600?random=3" name="User 1" lastname="Title 1"></app-user>
    <app-user image="https://picsum.photos/600/600?random=4" name="User 1" lastname="Title 1"></app-user>
    <app-user image="https://picsum.photos/600/600?random=5" name="User 1" lastname="Title 1"></app-user>
  </div>
</div>
